.popup {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, .5);
    display: none;
    align-items: center;
    justify-content: center;
    
}

.popup_opened {
    display: flex;
}


.popup__conteiner {
    width: calc(100% - 38px);
    max-width: 430px;
    min-height: 330px;
    background-color: #FFFFFF;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

.popup__close-icon {
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(../../vendor/images/close-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px;
    border: none;
    width: 32px;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    position: absolute;
    top: -40px;
    right: -40px;
}

@media screen and (max-width:534px) {
    .popup__close-icon {
        width: 20px;
        background-size: 20px;
        top: -36px;
        right: 0px;
    }
}

.popup__close-icon:hover {
    opacity: 0.6;
    transition: opacity 0.0s linear;
}

.popup__title {
    margin: 0;
    padding: 34px 0 54px;
    width: calc(100% - 44px);
    max-width: 358px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

@media screen and (max-width:394px) {
    .popup__title {
        font-size: 18px;
        line-height: 22px;
    }
}

.popup__form {
    width: calc(100% - 44px);
    max-width: 358px;
    padding: 0 0 37px;
    margin: 0;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
    line-height: 0;
}

.popup__form-input {
    padding: 0 0 9px;
    margin: 0;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.2);
}

.popup__form-input::placeholder {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.popup__save-button {
    width: calc(100% - 44px);
    max-width: 358px;
    min-height: 50px;
    margin-bottom: 37px;
    padding: 0;
    border: none;
    background-color: #000000;
    border-radius: 2px;
    cursor: pointer;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}

.popup__save-button:hover {
    opacity: 0.6;
    transition: opacity 0.0s linear;
}

@media screen and (max-width:394px) {
    .popup__save-button {
        font-size: 14px;
        line-height: 17px;
    }
}