.profile__subtitle {
    width: 100%;
    max-width: 336px;
    margin: 0;
    vertical-align: bottom;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    grid-area: about;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


@media screen and (max-width:375px) {
    .profile__subtitle {
        max-width: 282px;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        grid-column: 1/7;
        justify-self: center;
    }
}