.header__logo {
    width: 142px;
    height: 33px;
}

@media screen and (max-width:917px) {
    .header__logo {
        padding-left: 10px;
    }
}

@media screen and (max-width:534px) {
    .header__logo {
        padding-left: 20px;
    }
}

@media screen and (max-width:375px) {
    .header__logo {
        padding-left: 27px;
        width: 103.74px;
        height: 24.4px;
    }
}