.popup__save-button {
    width: 100%;
    min-height: 50px;
    margin: 18px 0 37px;
    padding: 0;
    border: none;
    background-color: #000000;
    border-radius: 2px;
    cursor: pointer;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}

.popup__save-button:hover {
    opacity: 0.8;
    transition: opacity 0.0s linear;
}

@media screen and (max-width:394px) {
    .popup__save-button {
        width: 100%;
        min-height: 46px;
        font-size: 14px;
        line-height: 17px;
        margin: 15px 0 25px;
    }
}