.element__delete {
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(../../../vendor/images/trash-can.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px;
    width: 18px;
    height: 19px;
    border-style: none;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 244px;
}

.element__delete:hover {
    opacity: 0.5;
    transition: opacity 0.0s linear;
}