.profile {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0 50px;
}

@media screen and (max-width:735px) {
    .profile {
        flex-direction: column;
        gap: 36px;
    }
}

.profile__container {
    width: 100%;
    max-width: 486px;
    display: flex;
    align-items: center;
    gap: 30px;
}

@media screen and (max-width:534px) {
    .profile__container {
        flex-direction: column;
        gap: 26px;
    }
}

.profile__avatar {
    width: 100%;
    max-width: 120px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.profile__info {
    width: 100%;
    max-width: 336px;
    display: flex;
    align-items: baseline;
    gap: 18px;
}

.profile__text {
    width: 100%;
    max-width: 294px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.profile__title {
    margin: 0;
    vertical-align: bottom;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px; 
    color: #FFFFFF;
}

@media screen and (max-width:375px) {
    .profile__title {
        font-size: 27px;
        line-height: 33px;
        text-align: center;
    }
}

.profile__subtitle {
    margin: 0;
    vertical-align: bottom;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}


@media screen and (max-width:375px) {
    .profile__subtitle {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
}

.profile__edit-button {
    padding: 0;
    background-color: black;
    background-image: url(../../vendor/images/edit.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px;
    width: 24px;
    aspect-ratio: 1 / 1;
    border: 1px solid #FFFFFF;
    cursor: pointer;
}

.profile__edit-button:hover {
    opacity: 0.6;
    transition: opacity 0.0s linear;
}

@media screen and (max-width:375px) {
    .profile__edit-button {
        background-size: 7.5px;
        width: 18px;
    }
}


.profile__add-button {
    padding: 0;
    background-color: black;
    background-image: url(../../vendor/images/add.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 22px;
    width: 100%;
    max-width: 150px;
    aspect-ratio: 3 / 1;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    cursor: pointer;
}

.profile__add-button:hover {
    opacity: 0.6;
    transition: opacity 0.0s linear;
}

@media screen and (max-width:735px) {
    .profile__add-button {
        width: 100%;
        max-width: 690px;
        max-height: 50px;
    }
}

@media screen and (max-width:375px) {
    .profile__add-button {
        background-size: 16px;
    }
}